<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard VIF</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<!-- Dashboard VIF -->
<aside class="sidebar">
  <div class="logo">VIF Analytics</div>
 <nav>
    <a href="/" class="active">Dashboard</a>
    <a href="/modelo">Modelo Estrella</a>
    <a href="/mineria">Minería de Datos</a>
    <a href="/profundo">Conocimiento Profundo</a>
</nav>
</aside>

<main class="main">

  <h1 class="page-title">Análisis de Violencia Intrafamiliar, Area Cundinamarca</h1>

  <!-- DESCRIPCIÓN -->
  <div class="desc-card" id="descripcion">
    <div class="desc-header">
      <span class="desc-tag">Minería de Datos</span>
      <span class="desc-tag">2015 – 2024</span>
      <span class="desc-tag">7 Municipios</span>
    </div>
    <p class="desc-text">
      Este análisis utiliza registros de violencia intrafamiliar publicados por el 
      <strong>Instituto Nacional de Medicina Legal y Ciencias Forenses</strong>, junto con 
      indicadores socioeconómicos provenientes del dataset <strong>TerriData</strong> del 
      Departamento Nacional de Planeación. El objetivo es identificar, desde una perspectiva 
      de minería de datos, posibles relaciones entre los casos registrados y los factores 
      asociados a su ocurrencia, con el fin de apoyar estrategias de prevención y análisis.
    </p>
    <div class="desc-municipios">
      <span> Soacha</span>
      <span> Chía</span>
      <span> Cajicá</span>
      <span> Girardot</span>
      <span> Guaduas</span>
      <span> Pacho</span>
      <span> Cota</span>
    </div>
  </div>

  <!-- DASHBOARD -->
  <div class="chart-card" id="dashboard">
    <div class="chart-title">Dashboard interactivo: usa los filtros para explorar los datos.</div>
    <iframe
      title="VIF"
      width="100%"
      height="850px"
      src="{{ powerbi_url }}"
      frameborder="0"
      allowFullScreen="true">
    </iframe>
  </div>

</main>

</body>
</html>